<p></p>
<!-- <h2 class="text-center">students vs. preferences</h2>
<div class="container">
    <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>  -->

    <fusioncharts 
        width="1000" 
        height="500"
        type="pie3d"
        [dataSource]=dataSource >
    </fusioncharts>


    <div class="card shadow">
        <div class="card-body chart-wrapper">
          <div class="chart-wrapper-inner" >
              <fusioncharts
                width="50%" 
                height="400"
                type="column3d"
                [dataSource]=datasource
                (initialized)="initialized($event)">
              </fusioncharts> 
            <p style="padding:10px; background: #efefef" [innerHTML]="initMessage || message"></p>
          </div>
        </div>
      </div>