<p></p>


<mat-grid-list cols="6" rowHeight="100px">

  <mat-grid-tile class="title" colspan="1" rowspan="4">
  </mat-grid-tile>
    
  <mat-grid-tile class="chart" colspan="4" rowspan="4">
    <fusioncharts
      [width]="width"
      [height]="height"
      [type]="type"
      [dataFormat]="dataFormat"
      [dataSource]="datasource">
    </fusioncharts> 
  </mat-grid-tile>
    
  <mat-grid-tile class="title" colspan="1" rowspan="4">
      <h5>current batch in internship<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{max}}</h5>
  </mat-grid-tile>

  <br>

  <mat-grid-tile class="title" colspan="1" rowspan="4">
  </mat-grid-tile>

  <mat-grid-tile class="chart" colspan="4" rowspan="4">
    <fusioncharts 
      width="1000" 
      height="400"
      type="pie3d"
      [dataSource]=dataSource >
    </fusioncharts>
  </mat-grid-tile>

  <mat-grid-tile class="title" colspan="1" rowspan="4">
  </mat-grid-tile>

  </mat-grid-list>