/* Bordered form */
.main-content{
    padding-top:60px
}
form {
    border: none;
    width: 98%;
    background-color: rgb(255, 255, 255);
    
}

h3{
    text-align: center
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=file] {
    width: 60%;
    /* padding: 12px 20px; */
    /* margin: 15px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    /* box-sizing: border-box; */
    border-radius: 8px;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 30%;   
}

.column2 {
    float: left;
    width: 70%;    
}

/* label{
    padding: 24px 10px;
    
} */

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Set a style for all buttons */
#add {
    background-color: rgb(52, 51, 70);
    color: white;
    padding: 10px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 20%;
    margin-left: 325px;
}

#clear {
    background-color: rgb(240, 240, 243);
    color: rgb(19, 16, 177);
    padding: 10px 20px;
    margin: 15px 10px;
    border: 1px solid #5479f0;
    border-radius: 8px;
    cursor: pointer;
    width: 20%;    
}

#disable {
    background-color: rgb(120, 119, 128);
    color: white;
    padding: 10px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 8px;
    cursor: none;
    width: 20%;
    margin-left: 325px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.6;
}

/* Add padding to containers */

input[type=text], input[type=password] {
    width: 60%;
    /* padding: 5px 5px; */
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
}

.dropdown {
    width: 60%;
    /* padding: 12px 20px; */
    /* margin: 15px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
    visibility: visible;
   
  }

  .dropdown-menu{
    min-width: 60%;
  }
  
  .dropdown-menu a:hover {
    background-color: #666464 ;
    min-width: 60%;
  }
