

<!--<body>
<div #scroller class= "feedWrapper" >
  <app-feed-a-s></app-feed-a-s>
</div>
<input  class="form-control" [(ngModel)]="message" (keydown)="handleSubmit($event)" />

<button class="chatButton" (click)=send()>Send</button>

</body>
/////////////-->
<body>
    <button (click)="triggerScrollTo()">Go to destination</button>
    <div #scroller class= "feedWrapper" >
      <app-feed-a-s></app-feed-a-s>
      <router-outlet></router-outlet>
    </div>
    
<div class="type_msg">
    <div class="input_msg_write">
      <input [(ngModel)]="message" class="write_msg" placeholder="Type a message" (keydown)="handleSubmit($event)" />
      <button class="msg_send_btn" (click)=send() type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    </div>
  </div>
  <div id="destination">
      You've reached your destination.
    </div>
</body>