
<div class="main">
  <div class="container">
    
    <label for="company"><b>Do {{value}} give internship in this year? </b></label> &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="internship" value="true" (change)="onChange($event)" checked > Yes &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="internship" value="false" (change)="onChange($event)"> No <br>

  </div>
  <br>
  <table class="table" style="width:60%;text-align:center;">
    <thead>
  <tr>
    
    <th> Student Registration No </th>
    <th>  </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let student of stuList" >
   
      
      <td *ngIf="student.organization==value">{{student.name}}</td>
      <td *ngIf="student.organization==value">
          <button mat-button routerLink="../studentDetails" routerLinkActive="active" (click)="getData(student.name)">
        <mat-icon color= "primary">attachment</mat-icon>
          </button></td>
    
      
  </tr>
</tbody>
</table>
</div>