/* .main{
    padding-top: 0vw;
    margin-left: 350px;
} */

.container {
    /* border: 1px solid rgb(68, 0, 255);
    border-radius: 15px;
    padding: 0vw ; */
    text-align: center;
}
/* .main{
    
} */


table {
   
    width: 99%;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 1px;
    /* min-width: 500px; */
    /* margin: 0px auto; */
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.matColumnDef{
border-radius: 1px;
border-color: black;
}
.mat-form-field {
    font-size: 14px;
    width: 20%;
    /* margin: 0px auto; */
    margin-top: 50px;
}

  th.mat-sort-header-sorted {
    color: rgb(41, 39, 39);
  }
  
md-pagination-wrapper {
    width:auto !important;
}

md-row:nth-child(even){
  background-color:#EDF1F5;
  }

md-row:nth-child(odd){
  background-color:rgb(143, 143, 137);
  }