<br>
<!-- <div class="main">
  
  <table class="table" style="width:60%;text-align:center;">
    <thead>
      <tr>    
          <th> Registration No </th>
          <th> Name </th>
          <th> Contact No </th>
          <th> Email </th>
          <th>  </th>
          <th>  </th>
          <th>  </th>
      </tr>
    </thead>
<tbody>
  <tr *ngFor="let student of stuList" >
         
      <td >{{student.name}}</td>
      <td >{{student.username}}</td>
      <td >{{student.phoneNo}}</td>
      <td >{{student.email}}</td>
      <td >
        <button mat-button routerLink="../studentDetails" routerLinkActive="active" (click)="getData(student.name)">
        <mat-icon color= "primary">attachment</mat-icon>
        </button>
      </td>
      <td>
        <button mat-button (click)="onAccept(student.name)"> <mat-icon color= "primary"> done </mat-icon> </button>
     </td>
     <td>
      <button mat-button (click)="onReject(student.name)"> <mat-icon color= "red"> clear </mat-icon> </button>
   </td>
   
  </tr>
</tbody>
</table>
</div> -->



<div class="w3-main" style="  min-height: 500px">
    <!-- <div class="col-md-3">
  
    </div>
    <div class="col-md-9"  style="float:right; ">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Compnay Confirmed Student Details</h4>
          </div> -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                    <th> Registration No </th>
                    <th> Name </th>
                    <th> Contact No </th>
                    <th> Email </th>
                    <th>  </th>
                    <th>  </th>
                    <th>  </th>
                  
                </thead>
                <tbody>
                    <tr *ngFor="let student of stuList" >
                        
                     <td >{{student.name}}</td>
                     <td >{{student.username}}</td>
                     <td >{{student.phoneNo}}</td>
                     <td >{{student.email}}</td>
                     <td >
                       <button mat-button routerLink="../studentDetails" routerLinkActive="active" (click)="getData(student.name)">
                       <mat-icon color= "primary">attachment</mat-icon>
                       </button>
                     </td>
                     <td>
                       <button mat-button (click)="onAccept(student.name)"> <mat-icon color= "primary"> done </mat-icon> </button>
                    </td>
                    <td>
                     <button mat-button (click)="onReject(student.name)"> <mat-icon color= "red"> clear </mat-icon> </button>
                  </td>
                  
                 </tr>
                </tbody>
              </table>
            </div>
          </div>
        <!-- </div>
      </div> -->
  </div>
  
  <ng-template #elseBlock>
   <td> Selected </td>
  </ng-template>
  
  <ng-template #elseBlock2>
    <td> - </td>
   </ng-template>