

<!-- <h2 class="title">Company Details</h2>
<br>
<div class="container">
<table class="table">
    <thead>
  <tr>
    <th> Company Name    </th>
    <th> Location    </th>
    <th> Email    </th>
    <th> Contact No    </th>
    <th> Contact Person </th>
    <th> Do Internship </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let company of company">
      <td>{{company.name}} </td>
      <td>{{company.location}}</td>
      <td>{{company.email}}</td>
      <td>{{company.contactNo}}</td>
      <td>{{company.contactPerson}}</td> 
      <td>{{company.doInternship}}</td>   
  </tr>
</tbody>
</table>
</div> -->










<div>
  <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Company Details</h4>
          <p class="card-category"> Here is a subtitle for this table</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                
                  <th> Company Name    </th>
                  <th> Location    </th>
                  <th> Email    </th>
                  <th> Contact No    </th>
                  <th> Contact Person </th>
                  <th> Do Internship </th>
              </thead>
              <tbody>
                  <tr *ngFor="let company of company">
                      <td>{{company.name}} </td>
                      <td>{{company.location}}</td>
                      <td>{{company.email}}</td>
                      <td>{{company.contactNo}}</td>
                      <td>{{company.contactPerson}}</td> 
                      <td>{{company.doInternship}}</td>   
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
