<!-- <div class="main">
  
  <br>
  <table class="table" style="width:60%;text-align:center;">
    <thead>
      <tr>        
        <th> Student Registration No </th>
        <th>  </th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of stuList1" >        
      <td >{{student.name}}</td>
      <td >
        <button mat-button routerLink="../studentDetails" routerLinkActive="active" (click)="getData(student.name)">
        <mat-icon color= "primary">attachment</mat-icon>
        </button>
      </td>       
    </tr>
</tbody>
</table>
</div> -->


<div class="main">
  
  <table class="table" style="width:60%;text-align:center;">
    <thead>
      <tr>    
        <th> Registration No </th>
        <th> Name </th>
        <th> Contact No </th>
        <th> Email </th>
        <th>  </th>
        
      </tr>
    </thead>
<tbody>
  <tr *ngFor="let student of stuList" >
         
      <td >{{student.name}}</td>
      <td >{{student.username}}</td>
      <td >{{student.phoneNo}}</td>
      <td >{{student.email}}</td>
      <td >
        <button mat-button routerLink="../studentDetails" routerLinkActive="active" (click)="getData(student.name)">
        <mat-icon color= "primary">attachment</mat-icon>
        </button>
      </td>
      
   
  </tr>
</tbody>
</table>
</div>