<br><br><br><br>
<form>
    <div class="title" >
        <h2>Login Form</h2>
    </div>
  
  <div class="container">
      
    <label for="uname"><b>Username</b></label><br>
    <input type="text" #uname placeholder="Enter Username" name="uname" required ngModel><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" #psw placeholder="Enter Password" name="psw" required><br>
    
      <button id="login" type="submit" (click)="adminLogin(uname.value,psw.value)">Login</button>
      <button id="signup" type="button">Sign up</button><br>
    
    <label style="float: left">
      <input type="checkbox" checked="checked" name="remember" > Remember me
    </label>
    <br>
    

  </div>
  <!-- (ngSubmit)=" onSubmit(formone)" #formone="ngForm"
    routerLink="/adminHomePage" router-activate="active" 
  (click)="adminLogin(uname.value,psw.value)"

  <div class="psw" style="text-align:right">Forgot <a href="#">password?</a></div>-->
  
      
  
</form>