
<div class="wrapper">
  <div class="container">
    <mat-grid-list cols="6" rowHeight="100px">
      <mat-grid-tile class="title" colspan="6" rowspan="1" style="color:white">
          <div  >
              <h1 style="font-size:2vw;" >
                <b style="color:white">Internship Management System @ Faculty of Information Technology [UOM] </b>
              </h1>    
            </div>
      </mat-grid-tile>
      
      
      <mat-grid-tile colspan="6" rowspan="6">
          <mat-card class="mat">
              <form class="form">
                <mat-card-header>               
                  <mat-card-title >
                      <mat-icon >account_circle</mat-icon><br>
                      <h3 class="mat-display-1">LOGIN</h3></mat-card-title>
                  </mat-card-header>
                  <mat-card-content >
                    <input type="text" #uname placeholder="Enter Username" name="uname" required ngModel>                   
                    <br>
                    <input type="password" #psw placeholder="Enter Password" name="psw" required><br>
                  </mat-card-content>
                  <mat-card-actions >
                    <button id="login-button" type="submit" (click)="adminLogin(uname.value,psw.value)">Login</button>
                    <br><br>
                    <button id="signup" type="button" (click)="signup()">Sign up</button><br>
                    <lib-ngx-notification></lib-ngx-notification>
                  </mat-card-actions> 
               </form> 
            </mat-card> 
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>