<!--<br><br><br><br>
<form>
    <div class="title" >
        <h2>Login Form</h2>
    </div>
  
  <div class="container">
      
    <label for="uname"><b>Username</b></label><br>
    <input type="text" #uname placeholder="Enter Username" name="uname" required ngModel><br>

    <label for="psw"><b>Password</b></label><br>
    <input type="password" #psw placeholder="Enter Password" name="psw" required><br>
    
      <button id="login" type="submit" (click)="adminLogin(uname.value,psw.value)">Login</button>
      <button id="signup" type="button" (click)="signup()">Sign up</button><br>
    
    <label style="float: left">
      <input type="checkbox" checked="checked" name="remember" > Remember me
    </label>
    <br>
    

  </div>
   (ngSubmit)=" onSubmit(formone)" #formone="ngForm"
    routerLink="/adminHomePage" router-activate="active" 
  (click)="adminLogin(uname.value,psw.value)"

  <div class="psw" style="text-align:right">Forgot <a href="#">password?</a></div>
  
      
  
</form>

/////////////
-->

<!--<div style ="text-align:center;padding-top: 1vw" class="navbar-header" >
    <h1 style="font-size:2vw;" ><b>Internship Management System @ Faculty of Information Technology [UOM] </b></h1>    
</div>

<div class="wrapper">
    <h1 align="center">Welcome</h1>
	    <div class="container">
		      <form class="form">
            <input type="text" #uname placeholder="Enter Username" name="uname" required ngModel><br>
            <input type="password" #psw placeholder="Enter Password" name="psw" required><br>
            <button id="login-button" type="submit" (click)="adminLogin(uname.value,psw.value)">Login</button>
            <button id="signup" type="button" (click)="signup()">Sign up</button><br>
            <lib-ngx-notification></lib-ngx-notification>
          </form>
      </div>
    <ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
    <li></li>
    <li></li>
		<li></li>
		<li></li>
    <li></li>
    <li></li>
		<li></li>
		<li></li>
		<li></li>
	  </ul>
</div>	

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h1>IMS</h1></mat-card-title>
      <mat-card-subtitle><h3>About Us..</h3></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>  
    </mat-card-actions>
</mat-card>-->


<!-- 
<div style ="text-align:center;padding-top: 1vw" class="navbar-header" >
  <h1 style="font-size:2vw;" ><b>Internship Management System @ Faculty of Information Technology [UOM] </b></h1>    
</div>


<mat-grid-list cols="4" rowHeight="90px">
    <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="mat2">
          <form class="form1">
              <mat-card-header></mat-card-header>
                <mat-card-content></mat-card-content>
                <mat-card-actions>
                  <button id="signup" type="button" (click)="signup()">Sign up</button><br>
                </mat-card-actions>  
             </form>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="6">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title><h2> WELCOME TO IMS </h2></mat-card-title>
              <mat-card-subtitle><h3>About Us..</h3></mat-card-subtitle>
            </mat-card-header>
      
           <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           
           
           <mat-card-content>
              <p>
                Internship Management System (IMS)  facilitates industrial training information management and communication.  
                This is created to emphasize the aspect of collecting information from students, industrial training coordinators and lecturers. 
                The information was captured and stored in a centralized database to enable access by multiple users through the internet.  
                The system can provide well organized, quickly accessible and quickly updatable capabilities.
              </p>
            </mat-card-content>
            <mat-card-actions>  
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="6">
      <div class="wrapper">
        <div class="container">   
          <mat-card class="mat">
        <form class="form">
          <mat-card-header>
            <mat-card-title><h3 align = "center">Login Form</h3></mat-card-title>
          </mat-card-header>
            <mat-card-content>
              <input type="text" #uname placeholder="Enter Username" name="uname" required ngModel><br>
              <input type="password" #psw placeholder="Enter Password" name="psw" required><br>
            </mat-card-content>
            <mat-card-actions align="end">
              <button id="login-button" type="submit" (click)="adminLogin(uname.value,psw.value)">Login</button>
              <lib-ngx-notification></lib-ngx-notification>
            </mat-card-actions>  
         </form>
      </mat-card> 
      </div>  
      </div> 
    </mat-grid-tile> 
  </mat-grid-list>

  <div>
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      </ul>
  </div> -->

<div class="wrapper">
  <div class="container">
    <mat-grid-list cols="4" rowHeight="100px">

      <mat-grid-tile class="title" colspan="4" rowspan="1">
          <div  class="navbar-header" >
              <h1 style="font-size:2vw;" ><b style="color:white">Internship Management System @ Faculty of Information Technology [UOM] </b></h1>    
            </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="3">
          <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title><h2> WELCOME TO IMS </h2></mat-card-title>
                <mat-card-subtitle><h3>About Us..</h3></mat-card-subtitle>
              </mat-card-header>
        
             <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
             
             
             <mat-card-content>
                <p>
                  Internship Management System (IMS)  facilitates industrial training information management and communication.  
                  This is created to emphasize the aspect of collecting information from students, industrial training coordinators and lecturers. 
                  The information was captured and stored in a centralized database to enable access by multiple users through the internet.  
                  The system can provide well organized, quickly accessible and quickly updatable capabilities.
                </p>
              </mat-card-content>
              <mat-card-actions>  
              </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1">
            <mat-card class="mat2">
                <form class="form1">
                    <mat-card-header></mat-card-header>
                      <mat-card-content></mat-card-content>
                      <mat-card-actions>
                        <button id="signup" type="button" (click)="signup();">Sign up</button><br>
                      </mat-card-actions>  
                   </form>
            </mat-card>
      
          </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="3">
          <mat-card class="mat">
              <form class="form">
                <mat-card-header>
                  <mat-card-title><h3 >Login Form</h3></mat-card-title>
                </mat-card-header>
                  <mat-card-content>
                    <input type="text" #uname placeholder="Enter Username" name="uname" required ngModel><br>
                    <input type="password" #psw placeholder="Enter Password" name="psw" required><br>
                  </mat-card-content>
                  <mat-card-actions >
                    <button id="login-button" type="submit" (click)="adminLogin(uname.value,psw.value)">Login</button>
                    <lib-ngx-notification></lib-ngx-notification>
                  </mat-card-actions>  
               </form>
            </mat-card> 
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>