<div class="dashboard">
  <!DOCTYPE html>
  <html>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  </style>
  <body class="w3-light-grey">
  
  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right">Logo</span>
  </div>
  
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
        <img src="https://ptetutorials.com/images/user-profile.png" class="w3-circle w3-margin-right" style="width:46px">
      </div>
      <div class="w3-col s8 w3-bar">
        <span>Welcome, <strong>{{logger}}</strong></span><br>
        <!-- <a routerLink="../chat-room" routerLinkActive="active" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
        <a routerLink="../adminAddUser" routerLinkActive="active" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
        <a routerLink="../adminSetting" routerLinkActive="active" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a> -->
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <!-- <div class="w3-bar-block">
      <div class="card card-profile">
          <div class="card-avatar">
              <a href="#pablo">
                  <img class="img" src="./assets/img/faces/marc.jpg" />
              </a>
          </div>
          <div class="col-md-12">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
    </div> -->
    <div class="w3-bar-block">
      <a  class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a  routerLink="../dashboardStudent" routerLinkActive="active" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-bank fa-fw"></i>  Overiew </a>
      <a  routerLink="../studentCompanyList" routerLinkActive="active" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Organization List</a>
      <a  routerLink="../studentReport" routerLinkActive="active" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Reports </a>
      <a  routerLink="../studentSetting" routerLinkActive="active" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Settings </a>
      <!--<a  class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Recently selected students</a>
      <a  class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Recent feedback</a>
       <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br> -->
    </div>
  </nav>
  
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">
  
    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    </header>
  
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3> {{comCount}} </h3>
          </div>
          <div class="w3-clear"></div>
          <h4> Companies </h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3> {{maxBatch}} </h3>
          </div>
          <div class="w3-clear"></div>
          <h4> Last Batch </h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>{{ selectedStu }}</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Selected Students</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3> {{ stuCount }} </h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Waiting Students</h4>
        </div>
      </div>
    </div>
  
    <div class="w3-panel">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-third">
          <!-- <h5>Companies which finished selecting</h5> -->
          <div class="w3-container">
              <h5>General Stats</h5>
              
              <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-green" [style.width.%]="[presentageCVUpload]">{{presentageCVU}}%</div>
              </div>
              <p>CV uploads</p>
              
              <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-orange" [style.width.%]="[selectedStudent]">{{presentageStu}}%</div>
              </div>
              <p>Selected Students</p>
              
              <div class="w3-grey">
                <div class="w3-container w3-center w3-padding w3-red" [style.width.%]="[presentageCompamy]"> {{presentageComp}}% </div>
              </div>
              <p>Companies which offer internships</p>
            </div>
          <!-- <img src="/w3images/region.jpg" style="width:100%" alt="Google Regional Map"> -->
        </div>
        <div class="w3-twothird" style=" overflow-y: scroll; max-height: 250px">
          <h5 >Important Notifications</h5>
          <br>
          <div  *ngFor="let message of items|async" class="message">
     
              {{message.message}}
              {{message.time | date:'medium' }}
              
            </div>



        </div>
      </div>
    </div>
    <hr>
   
    
  
    <!-- <div class="w3-container">
      <h5>Recent feedback</h5>
      <div class="w3-row">
        <div class="w3-col m2 text-center">
          <img class="w3-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
        </div>
        <div class="w3-col m10 w3-container">
          <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
          <p>I'm doing my work well. The work place provides me better opportunities for my career life.</p><br>
        </div>
      </div>
  
      <div class="w3-row">
        <div class="w3-col m2 text-center">
          <img class="w3-circle" src="/w3images/avatar1.png" style="width:96px;height:96px">
        </div>
        <div class="w3-col m10 w3-container">
          <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
          <p>I  was going through tough time because i had less knowlegde about technologies. </p><br>
        </div>
      </div>
    </div> -->
    <br>
    <!-- <div class="w3-container w3-dark-grey w3-padding-32"> -->
      <!-- <div class="w3-row">
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-green">Demographic</h5>
          <p>Language</p>
          <p>Country</p>
          <p>City</p>
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-red">System</h5>
          <p>Browser</p>
          <p>OS</p>
          <p>More</p>
        </div>
        <div class="w3-container w3-third">
          <h5 class="w3-bottombar w3-border-orange">Target</h5>
          <p>Users</p>
          <p>Active</p>
          <p>Geo</p>
          <p>Interests</p>
        </div>
      </div> -->
    <!-- </div> -->
  
    <!-- Footer -->
    <!-- <footer class="w3-container w3-padding-16 w3-light-grey">
      <h4>FOOTER</h4>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer> -->
  
    <!-- End page content -->
  </div>
  
  <script>
  // Get the Sidebar
  var mySidebar = document.getElementById("mySidebar");
  
  // Get the DIV with overlay effect
  var overlayBg = document.getElementById("myOverlay");
  
  // Toggle between showing and hiding the sidebar, and add overlay effect
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
      overlayBg.style.display = "none";
    } else {
      mySidebar.style.display = 'block';
      overlayBg.style.display = "block";
    }
  }
  
  // Close the sidebar with the close button
  function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
  }
  </script>
  
  </body>
  </html>
  
</div>