<!-- <h2 class="title">Requested Company Details</h2> -->
<br>
<div class="container">
<table class="table">
    <thead>
  <tr>
    <th></th>
    <th> Company Name    </th>
    <th> Location    </th>
    <th> Contact Person</th>
    <th> Email    </th>
    <th> Contact No    </th>
    <th> </th>
    <th> </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor = "let compan of company">
      <td><input type="checkbox"> </td>
      <td>{{compan.name}} </td>
      <td>{{compan.location}}</td>
      <td>{{compan.cpname}}</td>
      <td>{{compan.email}}</td>
      <td>{{compan.contactNo}}</td>
      <td>
        <button mat-button (click)="onAccept(compan.name,compan.location,compan.cpname,compan.email,compan.contactNo,compan.password)">
          <mat-icon color= "primary">done</mat-icon></button>
     </td>
     <td>
      <button mat-button (click)="onReject(compan.name)"><mat-icon color = "warn">delete</mat-icon></button>
   </td> 
  </tr>
</tbody>
</table>
</div>
