<h2 class="title">Requested Company Details</h2>
<br>
<div class="container">
<table class="table">
    <thead>
  <tr>
    <th> Company Name    </th>
    <th> Location    </th>
    <th> Contact Person</th>
    <th> Email    </th>
    <th> Contact No    </th>
    <th> </th>
    <th> </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor = "let compan of company">
      <td>{{compan.name}} </td>
      <td>{{compan.location}}</td>
      <td>{{compan.cpname}}</td>
      <td>{{compan.email}}</td>
      <td>{{compan.contactNo}}</td>
      <td>
        <button class="btn btn-success" (click)="onAccept(compan.name,compan.location,compan.cpname,compan.email,compan.contactNo,compan.password)"><i class="fa fa-trash"></i>Accept</button>
     </td>
     <td>
      <button class="btn btn-labeled btn-danger" (click)="onReject(compan.name)"><i class="fa fa-trash"></i>Reject</button>
   </td> 
  </tr>
</tbody>
</table>
</div>
