


<mat-grid-list cols="6" rowHeight="100px">
    
        <mat-grid-tile colspan="1" rowspan="5">
        </mat-grid-tile>
    
        <mat-grid-tile colspan="3" rowspan="5">
            <div class="container">
                <b>Reset password </b><br>
                <label for="password"><b>New password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </b></label>
                <input type="password" placeholder="Enter password" name="password" required [(ngModel)]="password" id="password"><br>
            
                <label for="password1"><b>Confirm New password : </b></label>
                <input type="password" placeholder="Reenter password" name="password1" required [(ngModel)]="password1" id="password1"><br>
            
                <button type="button" id="add" (click)="changePassword(password,password1)" (click)="password='';password1='';" >Change</button>
            
              </div>
              <lib-ngx-notification></lib-ngx-notification>
             
        </mat-grid-tile>
    
        <mat-grid-tile colspan="2" rowspan="5">
        </mat-grid-tile>
</mat-grid-list>