/* .navbar-header {
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 17px;
    width: 100%;
    position: fixed;
}
.btn{
    padding: 2px 5px;
} */