<!-- <div class="row=2">   
  <div style ="text-align:center" class="navbar-header" >
    <h1 style="font-size:1.5vw;" class="text-center">Internship Management System @ Faculty of Information Technology [UOM] </h1>
    <div  style ="text-align:right">
      {{value}} 
      <div *ngIf="displayButton; then logoutButton"></div>
    </div>
  </div> 
 
</div>  -->

<div class="row=20"> 
<router-outlet></router-outlet>
</div>

<!-- <ng-template #logoutButton>
  <button class="btn" (click)="logout()">Logout</button>
</ng-template> -->