<div *ngIf="CurrentUser" class="loggedUser">
  <div class="messageContainer">
    <div class="msgL" >
      <!-- <div class="messageData" [ngClass]="{'isOwnMessageData':isOwnMessage}">
  
      </div> -->
      <div class="messageContent">
        {{ messageContent }}
      </div>
    </div>
    <br><br>
    <div class="date">
      <!-- <span class="sender" >
                  {{ userName }}
                </span> -->
      <span class="timestamp">
        {{ timeStamp | date:'medium' }}
        <!-- {{ timeStamp }} -->
      </span>
      <!-- <span class="receiver" >
                  {{ receiver }}
                </span> -->
    </div>
  </div>
</div>

<div *ngIf="!CurrentUser" class="NotLoggedUser">

  <div class="messageContainer">
    <div class="msgN" [ngClass]="{'isOwnMessageContainer':isOwnMessage}">
      <!-- <div class="messageData" [ngClass]="{'isOwnMessageData':isOwnMessage}">

    </div> -->
      <div class="messageContent" [ngClass]="{'isOwnMessageContent':isOwnMessage}">
        {{ messageContent }}
      </div>
    </div>
    <br><br>
    <div class="date">
      <!-- <span class="sender" >
                {{ userName }}
              </span> -->
      <span class="timestamp">
        {{ timeStamp | date:'medium' }}
      </span>
      <!-- <span class="receiver" >
                {{ receiver }}
              </span> -->
    </div>
  </div>
</div>