<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body {
    font-family: "Lato", sans-serif
  }

  .mySlides {
    display: none
  }
</style>

<body>


      <div>


        <!-- Navbar -->
        <div class="w3-top">
          <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)"
              onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a class="w3-bar-item  w3-padding-large w3-hide-small">IMS @ FIT</a>
            <a routerLink="./adminDashboard" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large ">HOME</a> 
            <a routerLink="./adminAddUser" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ADD</a>
            <a routerLink="./requestedCompany" routerLinkActive="active" (click)="clearCount()" 
              class="w3-bar-item w3-button w3-padding-large w3-hide-small">  <span class="badge" *ngIf="count > 0">{{count}}</span>REQUESTED COMPANY</a>
            <a routerLink="./chat-room" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large "(click)=clearNotification()><span class="msg" *ngIf="msgCount > 0" ><span class="msg">new </span></span>MESSAGE</a>
            <a routerLink="./adminAnalysis" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ANALYSIS</a>
            <a routerLink="./adminSetting" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large ">SETTINGS</a>
            <div class="w3-dropdown-hover w3-hide-small">
              <button class="w3-padding-large w3-button" title="More">VIEW <i class="fa fa-caret-down"></i></button>
              <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a routerLink="./adminViewStudent" routerLinkActive="active2" class="w3-bar-item w3-button">Students</a>
                <a routerLink="./adminViewSupervisor" routerLinkActive="active2" class="w3-bar-item w3-button">Supervisors</a>
                <a routerLink="./adminViewCompany" routerLinkActive="active2" class="w3-bar-item w3-button">Company</a>
              </div>
            </div>
            <!-- <div class="topnav-right"> -->
              
              <button class="topnav-right-button" mat-raised-button style="background-color:white" (click)="logout()">
                  <mat-icon color= "black">settings_power</mat-icon> Logout</button>
              
                  <span class="topnav-right-user" style="color: white;">
                    <mat-icon color= "white">account_circle</mat-icon> {{ loger }}
                </span>
            
          <!-- </div> -->
            <!-- <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a> -->
          </div>
        </div>

       
        
      </div>
    
      <div class="rest" >
        <router-outlet></router-outlet>
      </div>

</body>