<body>
    <div> 
      
    <ul>
      <li> <a style="background-color: black;color: white;">IMS @ FIT</a></li>
      <li><a routerLink="./studentAdd" routerLinkActive="active">Add</a></li>
      <li><a routerLink="./studentEdit" routerLinkActive="active">Edit</a></li>
      <li><a routerLink="./studentView" routerLinkActive="active">View</a></li>      
      <li><a >Add Confirmation</a></li>
      <li><a routerLink="./studentReport" routerLinkActive="active">Reports</a></li>      
      <li><a >Feedback</a></li>
      <li><a >Message</a></li>
      <li><a >Setting</a></li>
    </ul>
    </div>
    <div class ="col-sm-19" >
    <div style="padding:1px 16px;">
      <router-outlet></router-outlet>
    </div>
    </div>
    </body>