<body>
    <div class="menu" style="position: fixed; z-index: 10;">

        <ul>
            <li> <a style="background-color: black;color: white;">IMS @ FIT</a></li>
            <!-- <li><a routerLink="./studentAdd" routerLinkActive="active">Add</a></li> -->
            <li><a routerLink="./dashboard" routerLinkActive="active" >HOME</a> </li>

            <li><a (click)="studentAdd()">Add</a></li>
            <li><a routerLink="./studentEdit" routerLinkActive="active">Edit</a></li>
            <li><a routerLink="./studentView" routerLinkActive="active">View</a></li>
            <li><a routerLink="./studentCompanyList" routerLinkActive="active">Organization List</a></li>
            <li><a routerLink="./studentConfirm" routerLinkActive="active" >Add Confirmation</a></li>
            <li><a routerLink="./studentReport" routerLinkActive="active">Reports</a></li>
            <li><a routerLink="./feedback" routerLinkActive="active">Feedback</a></li>
            <li><a routerLink="./chat-room" routerLinkActive="active" (click)=clearNotification()>Message</a></li>

            <!-- <li><a >Message</a></li> -->
            <li><a routerLink="./studentSetting" routerLinkActive="active">Setting</a></li>
            <div class="topnav-right-">
            <li class="user">
                <span style="color: white;">
                    <mat-icon class="icon" color="white">account_circle</mat-icon> 
                    {{ loger }}
                </span>
            </li>
            <li class="button">
                <button mat-raised-button style="background-color:white" (click)="logout()">
                    <mat-icon color="black">settings_power</mat-icon> 
                    Logout
                </button>

            </li>
            </div>
        </ul>
    </div>
    <span class="msg" *ngIf="msgCount > 0" ><span class="msg">new message</span></span>

    <div class="col-sm-19">
        <div style="padding:1px 16px; position: relative;overflow: hidden;">
            <router-outlet></router-outlet>
        </div>
    </div>
</body>


