ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
  }

  .topnav-right {
    float: right;
  }

  li {
    float: left;
  }

  li a.active {
    background-color: rgb(172, 166, 166);
    color: black;
  }
 
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #7e7b7b;
    color: black;
  }

  .badge {
    position: fixed;
    top:8%;
    left: 18%;    
    font-size: 12px;
    line-height: 13px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff0000; 
    border:0px solid #ff0000;
    color: #6b3333;
    z-index: 10;
    text-align: center
  }

  .bagdeCount{
    position: fixed;
    top:8%;
    left: 32.5%;    
    font-size: 12px;
    line-height: 13px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #ff0000; 
    border:0px solid #ff0000;
    color: #6b3333;
    z-index: 10;
    text-align: center
  }