<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div  class="topnav" id="myTopnav"> 
    
  <a>IMS@FIT</a>>
    <!-- <a routerLink="./home" routerLinkActive="active">Home</a> -->
    <!-- <span class="badge" *ngIf="count > 0">{{count}}</span> -->
    <a routerLink="./studentlist" routerLinkActive="active" (click)="clearCount()" >   REQUESTED LIST</a>
   <a routerLink="./confirmedStudentlist" routerLinkActive="active" (click)="clearCount()" >  <span class="bagdeCount" *ngIf="bagdeCount > 0">{{bagdeCount}}</span>CONFIRMED LIST</a>
    <a routerLink="./selectedStudentDetail" routerLinkActive="active">SELECTED LIST</a>
    <a routerLink="./feedback" routerLinkActive="active">FEEDBACK</a>

    <a routerLink="./companyAnalysis" routerLinkActive="active">ANALYSIS</a>
    <a routerLink="./companySetting" routerLinkActive="active">SETTING</a>
    
    <div class="topnav-right">
      <span style="color: white;">
          <mat-icon color= "white">account_circle</mat-icon> {{ loger }}
      </span>
  
      <button mat-raised-button style="background-color:white" (click)="logout()">
          <mat-icon color= "black">settings_power</mat-icon> Logout</button>
      
   
  </div>
  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class ="col-sm-19" >
  <div style="padding:1px 16px;margin-top: 50px">
    <router-outlet></router-outlet>
  </div>
  </div>
 

  
   <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
  </body>

