<body>
  <div > 
    
  <ul>
    <li><a routerLink="./home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="./studentlist" routerLinkActive="active">Student List</a></li>
    <li><a routerLink="./selectedStudentDetail" routerLinkActive="active">Selected Student Details</a></li>
    <li><a >Feedback</a></li>
    <li><a >Message</a></li>
    <li><a routerLink="./companyAnalysis" routerLinkActive="active">Analysis</a></li>
    <li><a routerLink="./companySetting" routerLinkActive="active">Setting</a></li>
    <div class="topnav-right">
      <li><span style="color: white;">
          <mat-icon color= "white">account_circle</mat-icon> {{ loger }}
      </span></li>
  <li >
      <button mat-raised-button style="background-color:white" (click)="logout()">
          <mat-icon color= "black">settings_power</mat-icon> Logout</button>
      
    </li>
  </div>
  </ul>
  </div>
  <div class ="col-sm-19" >
  <div style="padding:1px 16px;margin-top: 50px">
    <router-outlet></router-outlet>
  </div>
  </div>
  </body>