ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: fixed;
  }

  .topnav-right {
    float: right;
  }

  li {
    float: left;
  }

  li a.active {
    background-color: rgb(172, 166, 166);
    color: black;
  }
 
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #7e7b7b;
    color: black;
  }