<div class="main">

  <div class="container">    
    <label for="company"><b>Does {{value}} give internship in this year? </b></label> &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="internship" value="true" (change)="onChange($event)" checked > Yes &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" name="internship" value="false" (change)="onChange($event)"> No <br>
  </div>

  <div class="container">
    <h2>Change password </h2><br>
    <label for="password"><b>New password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </b></label>
    <input type="password" placeholder="Enter password" name="password" required [(ngModel)]="password" id="password"><br>

    <label for="password1"><b>Confirm New password : </b></label>
    <input type="password" placeholder="Reenter password" name="password1" required [(ngModel)]="password1" id="password1"><br>

    <button type="button" id="add" (click)="changePassword(password,password1)" (click)="password='';password1='';" >Change</button>

  </div>
  <lib-ngx-notification></lib-ngx-notification>
</div>