<h2 class="title">Supervisor Details</h2>
<br>
<div class="container">
<table class="table">
    <thead>
  <tr>
    <th>  </th>
    <th> Name with initials </th>
    <th> Username    </th>
    <th> Email    </th>
    <th> Contact No    </th>
    <th>  </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let supervisor of staff">
      <td><input type="checkbox"> </td>
      <td>{{supervisor.name}} </td>
      <td>{{supervisor.uname}}</td>
      <td>{{supervisor.email}}</td>
      <td>{{supervisor.contactNo}}</td>
     <td>
        <button mat-button (click)="onDelete(supervisor.name)"><mat-icon color = "warn">delete</mat-icon></button>
     </td>
  </tr>
</tbody>
</table>
</div>
