<h2 class="title">Supervisor Details</h2>
<br>
<div class="container">
<table class="table">
    <thead>
  <tr>
    <th> Name with initials    </th>
    <th> Username    </th>
    <th> Email    </th>
    <th> Contact No    </th>
    <th>  </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let supervisor of staff">
      <td>{{supervisor.name}} </td>
      <td>{{supervisor.uname}}</td>
      <td>{{supervisor.email}}</td>
      <td>{{supervisor.contactNo}}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="onDelete(supervisor.name)"><i class="fa fa-trash"></i>Delete Record</button>
     </td>
  </tr>
</tbody>
</table>
</div>
