<div class="main">

  <div class="container">
    <h2>Change number of companies which student can choose </h2><br>
    <label for="company"><b>No of companies : </b></label>
    <input type="number" placeholder="Enter No of companies" name="amount" required [(ngModel)]="amount" id="amount"><br>

    <button type="button" id="add" (click)="changeCompany(amount)">Change</button>

  </div>

  <div class="container">
    <h2>Insert new Batch Details </h2><br>

    <label for="batch"><b>Batch : </b></label>
    <input type="number" placeholder="Enter Batch" name="batch" required [(ngModel)]="batch" id="batch"><br>

    <label for="startDate"><b>Start Date : </b></label>
    <input type="date" placeholder="Enter start date" name="startDate" required [(ngModel)]="startDate" id="startDate"><br>

    <label for="endDate"><b>End Date : </b></label>
    <input type="date" placeholder="Enter end date" name="endDate" required [(ngModel)]="endDate" id="endDate"><br>

    <button type="button" id="add" (click)="insertBatch(batch, startDate, endDate)">Insert</button>

  </div>

  <div class="container">
    <h2> Change enable to edit details in Student/ disable to view CV to Company </h2><br>
    <label for="enability"><b>Enability : &nbsp;&nbsp;</b></label>
    <mat-radio-group>
        <mat-radio-button name="enability" value="en" (change)="onUserChange('en')"> Enable </mat-radio-button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-radio-button name="enability" value="dis" (change)="onUserChange('dis')"> Disable </mat-radio-button>
      </mat-radio-group>
      <br>
    <button type="button" id="add" (click)="changeEnability()">Change</button>

  </div>

</div>