<div class="main">
  <div class="container">
    <h2>Change number of companies which student can chooes </h2><br>
    <label for="company"><b>No of companies : </b></label>
    <input type="text" placeholder="Enter No of companies" name="amount" required [(ngModel)]="amount" id="amount"><br>

    <button type="button" id="add" (click)="changeCompany(amount)">Change</button>

  </div>

</div>

<div class="main">
  <div class="container">
    <h2>Change number of companies which student can chooes </h2><br>
    <label for="company"><b>No of companies : </b></label>
    <input type="text" placeholder="Enter No of companies" name="amount" required [(ngModel)]="amount" id="amount"><br>

    <button type="button" id="add" (click)="changeCompany(amount)">Change</button>

  </div>

</div>