<form (ngSubmit)=" onSubmit(formone)" #formone="ngForm">
  <h3>Industrial Placement</h3>
  <h4>Student Information Sheet</h4>

    <div class="container" >
      <div class="row">
        <div class="column1">
          
            <label for="registrationNo"><b id="registrationNo">Registration No : </b></label><br>
            <label for="name"><b id="name">Name : </b></label><br>
            <label for="emailAddress"><b id="emailAddress">Email Address : </b></label><br>
            <label for="phoneNo"><b id="phoneNo">Phone No : </b></label><br>
          
            <label for="l1s1"><b id="l1s1">L1S1 GPA : </b></label><br>
            <label for="l1s2"><b id="l1s2">L1S2 GPA : </b></label><br>
            <label for="l2s1"><b id="l2s1">L2S1 GPA : </b></label><br>
            <label for="l2s2"><b id="l2s2">L2S2 GPA : </b></label><br>
            <label for="avggpa"><b id="avggpa">Average GPA : </b></label><br>
          
            <label for="organization1"><b id="organization1">Preferred Organization 1 : </b></label><br>
            <label for="organization2"><b id="organization2">Preferred Organization 2 : </b></label><br>
            <label for="organization3"><b id="organization3">Preferred Organization 3 : </b></label><br>
            <label for="organization4"><b id="organization4">Preferred Organization 4 : </b></label><br>
            <label for="organization5"><b id="organization5">Preferred Organization 5 : </b></label><br>
          
            <label for="interest1"><b id="interest1">Preferred Area of Interest 1 : </b></label><br>
            <label for="interest2"><b id="interest2">Preferred Area of Interest 2 : </b></label><br>
            <label for="interest3"><b id="interest3">Preferred Area of Interest 3 : </b></label><br>
          
            <label for="cv"><b id="cv">Uploaded CV : </b></label><br>
        </div>
        <div class="column2">
          
            <input type="text" placeholder="Enter Registration No" name="name" [(ngModel)]="name" ><br>
            <input type="text" placeholder="Enter Name" name="uname" [(ngModel)]="uname" ><br>
            <input type="text" placeholder="Enter Email Address" name="emailAddress" [(ngModel)]="emailAddress" ><br>
            <input type="text" placeholder="Enter phone No" name="phoneNo" [(ngModel)]="phoneNo" ><br>
          
            <input type="text" placeholder="Enter L1S1 GPA" name="l1s1" [(ngModel)]="l1s1" ><br>
            <input type="text" placeholder="Enter L1S2 GPA" name="l1s2" [(ngModel)]="l1s2" ><br>
            <input type="text" placeholder="Enter L2S1 GPA" name="l2s1" [(ngModel)]="l2s1" ><br>
            <input type="text" placeholder="Enter L2S2 GPA" name="l2s2" [(ngModel)]="l2s2" ><br>
            <input type="text" placeholder="Enter Average GPA" name="avggpa" [(ngModel)]="avggpa" ><br>

            <input type="text" placeholder="Enter Preferred Organization 1" name="organization1" [(ngModel)]="organization1" ><br>
            <input type="text" placeholder="Enter Preferred Organization 2" name="organization2" [(ngModel)]="organization2" ><br>
            <input type="text" placeholder="Enter Preferred Organization 3" name="organization3" [(ngModel)]="organization3" ><br>
            <input type="text" placeholder="Enter Preferred Organization 4" name="organization4" [(ngModel)]="organization4" ><br>
            <input type="text" placeholder="Enter Preferred Organization 5" name="organization5" [(ngModel)]="organization5" ><br>
          
            <input type="text" placeholder="Preferred Area of Interest 1" name="interest1" [(ngModel)]="interest1" ><br>
            <input type="text" placeholder="Preferred Area of Interest 2" name="interest2" [(ngModel)]="interest2" ><br>
            <input type="text" placeholder="Preferred Area of Interest 3" name="interest3" [(ngModel)]="interest3" ><br>

            <!--
              <input type="file" name="cv" accept=".pdf">
            -->
        </div>
      </div>
     
        <button id="add" type="submit" >Submit</button>
        
    
    </div>
    
    </form>