<form (ngSubmit)=" onSubmit(formone)" #formone="ngForm">
  <h3>Industrial Placement</h3><br>
  <h4>Student Information Sheet</h4>

    <div class="container" >
      <div class="row">
        <div class="column1">          
            <label for="registrationNo"><b id="registrationNo">Registration No : </b></label><br>
            <label for="name1"><b id="name1">Name : </b></label><br>
            <label for="emailAddress"><b id="emailAddress">Email Address : </b></label><br>
            <label for="phoneNo"><b id="phoneNo">Phone No : </b></label><br>
          
            <label for="l1s1"><b id="l1s1">L1S1 GPA : </b></label><br>
            <label for="l1s2"><b id="l1s2">L1S2 GPA : </b></label><br>
            <label for="l2s1"><b id="l2s1">L2S1 GPA : </b></label><br>
            <label for="l2s2"><b id="l2s2">L2S2 GPA : </b></label><br>
            <label for="avggpa"><b id="avggpa">Average GPA : </b></label><br>
        </div>
        <div class="column2">
            <label for="name"><b id="name">{{loger}} </b></label><br> 
            <input type="text" placeholder="Enter Name" name="uname" [(ngModel)]="uname" ><br>
            <input type="text" placeholder="Enter Email Address" name="email" [(ngModel)]="email" ><br>
            <input type="text" placeholder="Enter phone No" name="phoneNo" [(ngModel)]="phoneNo" ><br>          
            <input type="text" placeholder="Enter L1S1 GPA" name="l1s1" [(ngModel)]="l1s1" ><br>
            <input type="text" placeholder="Enter L1S2 GPA" name="l1s2" [(ngModel)]="l1s2" ><br>
            <input type="text" placeholder="Enter L2S1 GPA" name="l2s1" [(ngModel)]="l2s1" ><br>
            <input type="text" placeholder="Enter L2S2 GPA" name="l2s2" [(ngModel)]="l2s2" ><br>
            <input type="text" placeholder="Enter Average GPA" name="cgpa" [(ngModel)]="cgpa" ><br>
        </div>
      </div>
      <div class="row">
          <div class="column1">
              <div *ngFor="let item of array">
                  <label for="organization"><b id="organization">Preferred Organization {{item}} : </b></label><br>
                </div>
          </div>  
          <div class="column2">
              <div *ngFor="let item of array" >       
                  <mat-form-field>
                    <mat-select placeholder="Preferred Organization" >
                      <mat-option *ngFor="let com of company" [value]="com.name"  (click)="getCompany(com.name)">
                        <a *ngIf="com.doInternship">{{com.name}}</a>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
          </div> 
      </div>
      <div class="row">
          <div class="column1">
              <label for="interest1"><b id="interest1">Preferred Area of Interest 1 : </b></label><br>
          </div>
          <div class="column2">
              <mat-form-field>
                  <mat-select placeholder="Preferred Area of Interest" >
                    <mat-option *ngFor="let i of interestField" [value]="i" (click)="getInterest1(i)">
                      {{i}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
          </div>
      </div>
      <div class="row">
          <div class="column1">
              <label for="interest2"><b id="interest2">Preferred Area of Interest 2 : </b></label><br>
          </div>
          <div class="column2">
              <mat-form-field>
                  <mat-select placeholder="Preferred Area of Interest" >
                    <mat-option *ngFor="let i of interestField" [value]="i" (click)="getInterest2(i)">
                      {{i}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
          </div>
      </div>
      <div class="row">
          <div class="column1">
              <label for="interest3"><b id="interest3">Preferred Area of Interest 3 : </b></label><br>
          </div>
          <div class="column2">
              <mat-form-field>
                  <mat-select placeholder="Preferred Area of Interest" >
                    <mat-option *ngFor="let i of interestField" [value]="i" (click)="getInterest3(i)">
                      {{i}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
          </div>
      </div>
      <div class="row">
          <div class="column1">
              <label for="cv"><b id="cv">Uploaded CV : </b></label><br>
          </div>
          <div class="column2">
              <input type="file" (change)="upload($event)" accept=".pdf" />
              <mat-progress-bar mode="indeterminate" *ngIf="probar"></mat-progress-bar>
          </div>
      </div>

      <button id="add" type="submit" ng-disabled="disableButton==true" >Submit</button>        
    
    </div>
    <lib-ngx-notification></lib-ngx-notification>
</form>