/* Bordered form */
form {
    border: none;
    width: 88%;
    background-color: rgb(255, 255, 255);
    padding: 50px 50px; 
    margin-left: 20%
    
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 5%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 20%;   
}

.column2 {
    float: left;
    width: 60%;    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

label{
    padding: 24px 10px;
}

/* Set a style for all buttons */
#add {
    background-color: rgb(52, 51, 70);
    color: white;
    padding: 10px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 20%;
    margin-left: 325px;
}

#clear {
    background-color: rgb(240, 240, 243);
    color: rgb(19, 16, 177);
    padding: 10px 20px;
    margin: 15px 10px;
    border: 1px solid #5479f0;
    border-radius: 8px;
    cursor: pointer;
    width: 20%;    
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.6;
}

/* Add padding to containers */

input[type=text], input[type=password], input[type=number] {
    width: 60%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 8px;
}

h2{
    /* font-family: 'Source Sans Pro', sans-serif; */
    margin-left: 28%
}
