<h2 class="title">Student Details</h2>
<br>
<div class="container">
<table class="table">
    <thead>
  <tr>
    <th></th>
    <th> Student ID     </th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let student of students">
    <td><input type="checkbox"> </td>
    <td><a routerLink="../adminViewFullStudent" routerLinkActive="active" (click)="getData(student.name)" (click)="getDataCom(student.name)">{{student.name}}</a></td>
      <td>
        <button mat-button (click)="onDelete(student.name)"><mat-icon color = "warn">delete</mat-icon></button>
     </td>
  </tr>
</tbody>
</table>
</div>
