<form (ngSubmit)=" onSubmit(formone)" #formone="ngForm">
  

<div class="container" >
  <div class="row">
    <div class="column1">
        <label for="uname"><b id="username">Username : </b></label><br>
        <label for="psw"><b>Password : </b></label><br>
    </div>
    <div class="column2">
        <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="username" ><br>
        <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password" id="password"><br>
    </div>
  </div>
 
    <button id="add" type="submit" >Add</button>
    <button id="clear" type="button" (click)="username='';password='';signUp()">Clear</button><br>

</div>

</form>