<br>
<mat-grid-list cols="20" rowHeight="100px">

    <mat-grid-tile colspan="20" rowspan="4">
        <div class="container">
            <h3>Upload all student usernames & names : </h3>
            <hr>
            <div class='loadExcelInput'>
                <p>Open Excel File ( First column - Register No, Second column - Name )</p>
                <input type="file" name="files[]" multiple id="jsonFile" accept=".xlsx"
                    (change)="onFileChange($event)" />
            </div>
            <br>
            <label for="psw3">Password </label><br>
            <input type="password" placeholder="Enter Password" name="psw3" required [(ngModel)]="password3"
                id="password3" style="width:30%"><br>

            <label for="batch3">Batch </label><br>
            <!-- <input type="number" placeholder="Enter batch" name="batch3" required [(ngModel)]="batch3" id="batch3"><br> -->
            <mat-form-field>
                <mat-select placeholder="Batches">
                    <mat-option *ngFor="let bat of batch" [value]="bat.batch" (click)="getSelectedBatch3(bat.batch)">
                        <a> {{bat.batch}} </a>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button type="button" id="addAll" (click)="uploadData($event,password3)">Add All Students</button>

        </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="20" rowspan="8">
        <div class="container">
            <h3>Enter all student usernames & names: </h3>
            <hr>
            <p>Open Excel File ( First column - Register No, Second column - Name )</p>

            <gc-spread-sheets [hostStyle]="hostStyle" (workbookInitialized)="workbookInit($event)">
            </gc-spread-sheets>

            <br>
            <label for="psw2">Password </label><br>
            <input type="password" placeholder="Enter Password" name="psw2" required [(ngModel)]="password2"
                id="password2" style="width:30%"><br>

            <label for="batch2">Batch </label><br>
            <!-- <input type="number" placeholder="Enter batch" name="batch2" required [(ngModel)]="batch2" id="batch2"><br> -->

            <mat-form-field>
                <mat-select placeholder="Batches">
                    <mat-option *ngFor="let bat of batch" [value]="bat.batch" (click)="getSelectedBatch2(bat.batch)">
                        <a> {{bat.batch}} </a>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button type="button" id="addAll" (click)="getData($event,password2)">Add All Students</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="rest" colspan="20" rowspan="6">
        <form (ngSubmit)=" onSubmit(formone)" #formone="ngForm">

            <div class="container">
                <h3>Enter student details : </h3>
                <hr>
                <!-- <div class="row"> -->

                <label for="uname">Registration number </label><br>
                <input type="text" placeholder="Enter Register No" name="uname" [(ngModel)]="username"><br>

                <label for="sname">Name </label><br>
                <input type="text" placeholder="Enter Name" name="sname" [(ngModel)]="sname"><br>

                <label for="psw">Password </label><br>
                <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password"
                    id="password"><br>
                <label for="batch">Batch</label><br>


                <!-- <input type="number" placeholder="Enter Batch" name="batch" [(ngModel)]="batch" ><br> -->

                <mat-form-field>
                    <mat-select placeholder="Batches">
                        <mat-option *ngFor="let bat of batch" [value]="bat.batch" (click)="getSelectedBatch(bat.batch)">
                            <a> {{bat.batch}} </a>
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <!-- </div> -->
                <br>
                <button id="add" type="submit">Add</button>
                <button id="clear" type="button"
                    (click)="username='';sname='';password='';batch1='';">Clear</button><br>
                <br><br>
            </div>

        </form>
        <lib-ngx-notification></lib-ngx-notification>
    </mat-grid-tile>
</mat-grid-list>